@import url('https://fonts.googleapis.com/css2?family=Lustria&family=Permanent+Marker&display=swap');

/* two font styles in use: lustria, permanent marker */

/* GLOBAL STYLE SETTINGS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'lustria', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
}

body {
    background-image: url('../images/site/background.jpg');
    background-size: cover;
    
   
  
}

h1 {
    font-family: 'permanent marker', sans-serif;
    font-size: 5rem;
    color: #721200;
}

h2 {
    font-family: 'permanent marker', sans-serif;
    font-size: 2.5rem;
    margin-top: 50px;
    color: #721200;
}

h3 {
    font-family: 'permanent marker', sans-serif;
    font-size: 2rem;
    color: #721200;
    text-decoration: underline;
}

p {
    font-family: 'lustria', sans-serif;
    font-weight: bold;
    color: #721200;
    font-size: 1.5rem;
}

/* HOME PAGE CONFIG */

/* homepage buttons */
.homepage-buttons-container{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.homepage-buttons {
    background-color: #721200;
    border-radius: 10%;
    
    width: 150px;
    cursor: pointer;
    color: #ffffff;
    padding: 25px;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    box-shadow: 2px 1px 2px gray;
    margin: 4px 10px 4px 10px;
    
}

.homepage-buttons:hover {
    background-color: #fff;
    color: #721200;
    font-weight: bold;
}

.homepage-buttons:active {
    box-shadow: 0 0 0 white;
    margin: 6px 10px 2px 10px;
}

/* homepage - rules section */

#homepage-rules {
    margin: 50px 0;
    display: inline-flex;
    justify-content: center;
    align-items: top;
    width: 90%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
}

#homepage-rules-left, #homepage-rules-right {
    width: 100%;
    margin: 0 20px;
}

#skyblue {
    background-color: skyblue;
    font-weight: bold;
    color: black;
}

#green {
    background-color: green;
    color: white;
}


#homepage-rules-right i {
    color: #721200;
}

#homepage-rules li {
    text-align: center;
    list-style-type: none;
    font-size: 1rem;
}

#homepage-rules li:hover {
    color: red;
}


#homepage-rules li {
    font-family: 'lustria',sans-serif;
    font-weight: bold;
    padding: 8px;
    color: black;
}

#tutorial {
    font-family: 'lustria',sans-serif;
    font-weight: bold;
    padding: 8px;
    color: red;
    text-decoration: underline;
}

#tutorial:hover {
    color: green;
    text-decoration: underline;
}

#guide-image-container {
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 65%;
    border: 6px solid black;
}

#guide-image {
    width: 100%;
    height: 100%;
}


footer {
    margin-top: 100px;
    background-color: black;
    width: 100%;
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: fixed;
    bottom: 0;
    
}

/* Game Page Setup */

#how-to-play-container {
    height: 150px;
    margin: 50px 0 ;

}

.how-to-play {
    margin-bottom: 100px;
    padding: 8px 20px;
    background-color: #721200;
    color: #fff;
    font-family: 'lustria', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    width: 200px;
    box-shadow: 2px 1px 2px gray;
    margin: 4px 10px 4px 10px;
    border: 2px solid black;
    letter-spacing: 1.5px;
    display: inline-block;
}

.how-to-play:active  {
    box-shadow: 0 0 0 white;
    margin: 6px 10px 2px 10px;
}

#board {
    min-height: 480px;
    max-height: 480px;
    min-width: 480px;
    max-width: 480px;
    border: solid #721200 4px;
    display: flex;
    background-color: #fff;
}

.box {
    height: 157.5px;
    width: 157.5px;
    border: solid white 1px;
    background-color: #d8cdb7;
    display: grid;
    grid-template-columns: auto auto auto;
}

.tile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border: dotted white 1px;
    user-select: none;
}

.tile > span:nth-child(1) {
    font-size: x-large;
    font-weight: bold;
    color: black;
}

#box2, #box4, #box6, #box8 {
    background-color: #bdb29f;
}

#game-container {
    display: flex;
    justify-content: center;
    margin-bottom: 150px ;
}

.gamepage-buttons, .digit-btn {
    padding: 8px 10px;
    background-color: #721200;
    color: #fff;
    font-family: 'lustria', sans-serif;
    font-weight: bold;
    cursor: pointer;
    width: 150px;
    box-shadow: 2px 1px 2px gray;
    margin: 4px 10px 4px 10px;
    letter-spacing: 1.5px;
}

.gamepage-buttons:active, .digit-btn:active {
    box-shadow: 0 0 0 white;
    margin: 6px 10px 2px 10px;
}

#container-top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: -60px;
}

#container-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 500px;
}

#container-left {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    max-height: 480px;
    margin-right: 35px;
}

#container-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 480px;
    margin-left: 35px;
}

#digits {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#notes.active {
    background-color: skyblue;
}

.tile {
    position: relative;
}

.note {
    position: absolute;
    font-size: 12px;
}



.note.n1 {
    left: 2px;
    top: 0;
}

.note.n2 {
    top: 0;
    transform: translateX(-50%);
}

.note.n3 {
    top: 0;
    right: 2px;
}

.note.n4 {
    left: 2px;
    transform: translateY(-50%);
}

.note.n5 {
    
    transform: translate(-50%, -50%)
    
}

.note.n6 {
    right: 2px;
    transform: translateY(-50%);
}

.note.n7 {
    bottom: 0;
    left: 2px;
}

.note.n8 {
    bottom: 0;
    transform: translateX(-50%);
}

.note.n9 {
    bottom: 0;
    right: 2px;
}





@media screen and (max-width:1100px) {
    #homepage-rules {
    
        flex-direction: column;
        align-items: center;
        
    }

#guide-image-container {
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    border: 6px solid black;
}

#guide-image {
    width: 100%;
    height: 100%;
}
}


@media screen and (max-width:900px) {

    

    
    
    

    #container-left {
        margin-right: 5px;
    }
    
    #container-right {
        margin-left: 5px;
    }

    

    

    .digit-btn {

        width: 60px;
        
    }

}


    

  

    
    
    
      

    

   
   

  



@media screen and (max-width:650px) {

    .gamepage-buttons {
        padding: 5px 5px;
        font-size: 12px;
        width: 65px;
        height: 45px;
    }

    .digit-btn {
        font-size: 12px;
    }
    
    

    #container-left {
        margin-right: 5px;
    }
    
    #container-right {
        margin-left: 5px;
    }

    #board {
        min-height: 225px;
        max-height: 225px;
        min-width: 225px;
        max-width: 225px;
        border: solid #721200 4px;
        display: flex;
        background-color: #fff;
    }

    .tile {
        height: 22.5px;
        width: 22.5px;
    }

    .box {
        height: 72.5px;
        width: 72.5px;
    }

    .digit-btn {
        height: 23px;
        margin: 1px 0;
        background-color: #721200;
        color: #fff;
        font-family: 'lustria', sans-serif;
        font-weight: bold;
        width: 30px;
        padding: 0;
    }

    #audio {
        visibility: hidden;
    }

    #container-bottom {
        margin: 230px;
    }

    .how-to-play {
        font-size: 12px;
        width: 160px;
        height: 45px;
        justify-content: center;
        align-items: center;
    }

    .gamepage-buttons {
        font-size: 0.7rem;
        font-weight: normal;
    }

    .counter-text {
        font-size: 0.7rem;
    }
    
    
      

    

    .gamepage-buttons:active, .digit-btn:active {
        box-shadow: 0 0 0 white;
        margin: 0px;
    }
    .how-to-play:active  {
        box-shadow: 0 0 0 white;
        margin-bottom: 0px;
    }
    .note {
        position: absolute;
        font-size: 0.4rem;
    }
    
    .tile > span:nth-child(1) {
        font-size: normal;
        font-size: 0.9rem;
        font-weight: bold;
        color: black;
    }

    

}
