@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,400;1,500&family=Lustria&family=Permanent+Marker&display=swap');

/* three font styles in use: lora, lustria, permanent marker */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'lora', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
}

body {
    background: url('../images/site/background.jpg');
    background-size: cover;
    
}

h1 {
    font-family: 'permanent marker', sans-serif;
    font-size: 5rem;
    color: #721200;
}

h2 {
    font-family: 'permanent marker', sans-serif;
    font-size: 2.5rem;
    margin-top: 25px;
    color: #721200;
}

.homepage-buttons:hover {
    background-color: #fff;
    color: #721200;
    font-weight: bold;
}

.homepage-buttons {
    background-color: #721200;
    border-radius: 10%;
    margin: 40px auto;
    width: 150px;
    cursor: pointer;
    color: #ffffff;
    padding: 25px;
    display: flex;
    justify-content: center;
}

#homepage-rules {
    margin-bottom: 100px;
}

#homepage-rules li, #tutorial {
    font-family: 'lustria',sans-serif;
    font-weight: bold;
    padding: 8px;
    color: black;
}

#tutorial:hover {
    color: #721200;
    text-decoration: underline;
}

#audio {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #721200;
    color: #fff;
    border-radius: 10%;
    padding: 5px 15px;
    cursor: pointer;
}

#audio:checked {

}

footer {
    position: fixed;
    bottom: 0;
    background-color: black;
    width: 100%;
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Game Page Setup */

#board {
    height: 480px;
    width: 480px;
    border: solid white 4px;
    display: flex;
    margin: 0 auto;
}

.gamepage-buttons {
    padding: 5px 30px;
    margin: 10px 20px;
}

#container-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-left {
    position: fixed;
    top: 150px;
    left: 100px;
    margin: 60px 0;

}

#container-bottom {
    display: inline-flex;
}

#container-right {
    position: absolute;
    top: 20%;
    right: 29%;
    margin: 60px 0;
}

