@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,400;1,500&family=Lustria&family=Permanent+Marker&display=swap');

/* three font styles in use: lora, lustria, permanent marker */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'lora', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
}

body {
    background: url('../images/site/background.jpg');
    background-size: cover;
    
}

h1 {
    font-family: 'permanent marker', sans-serif;
    font-size: 5rem;
    color: #721200;
}

h2 {
    font-family: 'permanent marker', sans-serif;
    font-size: 2.5rem;
    margin-top: 25px;
    color: #721200;
}

#homepage-buttons {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px;
}

#homepage-startgame, #homepage-settings {
    background-color: #D1BB89;
    border-radius: 10%;
    padding: 15px;
    margin: 2.5vw;
    width: 150px;

}